@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

:root {
  --main-bg-color: #1f1f1f;
  --card-face-bg-color: #deadb7;
  --card-back-bg-color: #5a975b;
  --main-font-color: #ffffff;
}

* {
  font-family: 'Shantell Sans', cursive;
}

h1 {
  color: var(--main-font-color);
  margin-top: 1rem;
  font-size: 2rem;
}

.question-container {
  background-color: var(--main-bg-color);
  width: 500px;
  margin: 25px auto;
  padding: 5px 0 40px 0;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

.card {
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.card-body {
  padding: 0;
  padding-bottom: 40px;
}

.scene {
  display: inline-block;
  width: 400px;
  height: 260px;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  color: var(--main-font-color);
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
  backface-visibility: hidden;
}

.card__face--front {
  background: var(--card-face-bg-color);
}

.card__face--back {
  background: var(--card-back-bg-color);
  transform: rotateY(180deg);
}

.btn {
  margin-top: 8px;
  border-radius: 2px;
}
